<!DOCTYPE html> 
<html> 
<head> 
  <title>@Page.Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">        
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
  <link rel="stylesheet" href="/css/acc-2011-mobile.css" />
  <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
</head> 
<body>
  <div data-role="page" class="type-index" data-add-back-btn="true">    
    @RenderBody()
    
    <div data-role="footer">
      @if (UrlData.Count == 0) {
      <h4>By <a href="http://twitter.com/Encosia">Dave Ward</a></h4>
      } else {
      <h4>#AtlantaCC</h4>  
      }
    </div>       
  </div> 
</body>
</html>    