@helper GetAfterPartyAddress() {
  if (Request.UserAgent.Contains("IEMobile")) {
    <p>4505 Ashford Dunwoody Rd Ne#5<br />Atlanta, Ga 30346</p>
  } else { 
    <p><a href="http://maps.google.com/maps?q=eclipse+di+luna+perimeter&ll=33.925842,-84.332256&spn=0.01533,0.01929&oe=utf-8&client=firefox-a&fb=1&gl=us&cid=0,0,1104754593105111138&t=h&z=16&iwloc=A" rel="external">4505 Ashford Dunwoody Rd Ne#5<br />Atlanta, Ga 30346</a></p>
  }
}

    <div data-role="header" style="background: #f60; text-align: center; padding: 10px 0 10px 0;">
      <img src="/img/remix-south-logo-sm.png" width="310" height="69" alt="ReMIX South Logo - Design. Develop. Bring the Awesome." />
    </div>
    
    <div data-role="content">
      @if (DateTime.Today.CompareTo(DateTime.Parse("8/6/2011")) < 0) {
      <div data-role="fieldcontain">
        <p style="text-align: center;">Don't have your ticket yet? 
          <a href="http://remixsouth.eventbrite.com/" target="_blank">Register for ReMIX South today</a>.</p>
        <p>&nbsp;<!-- Move along, nothing to see here... --></p>
      </div>
      }

      <ul data-role="listview">
        <li>
          <h4>Finding ReMIX South</h4>
          <p style="margin-bottom: 15px;">ReMIX South is at <strong>Marriott Perimeter Center</strong>:</p>

          <p>246 Perimeter Center Parkway NE<br />Atlanta, Georgia 30346</p>        
        </li>
        <li data-role="list-divider" data-theme="e">
          <h4>Schedule</h4>
        </li>
        <li>
          <h4>Registration</h4>

          <p class="ui-li-count">7:30 - 8:30</p>
        </li>

        <li>
          <h4>Keynote</h4>
          <p>Albert Shum</p>
          
          <p class="ui-li-count">8:30 - 9:30</p>
        </li>

        <li>
          <h4>Break</h4>

          <p class="ui-li-count">9:30 - 9:45</p>
        </li>

        <li><a href="/SessionSlot/3">
          <h4>First Sessions</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">9:45 - 10:45</p>
        </a></li>

        <li>
          <h4>Break</h4>

          <p class="ui-li-count">10:45 - 11:00</p>
        </li>

        <li><a href="/SessionSlot/4">
          <h4>Second Sessions</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">11:00 - 12:00</p>
        </a></li>  
        
        <li><a href="/Lunch"><h4>Lunch</h4>
          <p>Tap for info about nearby restaurants...</p>

          <p class="ui-li-count">12:00 - 1:30</p>
        </a></li>  
        
        <li><a href="/SessionSlot/6">
          <h4>Third Sessions</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">1:30 - 2:30</p>
        </a></li>  
        
        <li>
          <h4>Break</h4>
          <p></p>

          <p class="ui-li-count">2:30 - 2:45</p>
        </li>        
        
        <li><a href="/SessionSlot/7">
          <h4>Fouth Sessions</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">2:45 - 3:45</p>
        </a></li>   
        
        <li>
          <h4>Break</h4>

          <p class="ui-li-count">3:45 - 4:00</p>
        </li>                
        
        <li><a href="/SessionSlot/8">
          <h4>Fifth Sessions</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">4:00 - 5:00</p>
        </a></li> 

        <li>
          <h4>Giveaways</h4>
        
          <p>Stick around for a shot at prizes donated by our sponsors, including <strong>two iPads</strong>
            and a <strong>special edition XBox 360</strong>.</p>
            
          <p style="margin-top: 5px;">You must be present to win!</p>

          <p class="ui-li-count">5:00</p>
        </li>
        
        <li>
          <h4>After Party</h4>

          <p>Join us at <strong>Eclipse Di Luna</strong> to celebrate another successful ReMIX, the web's 20th anniversary, and to have a drink with fellow
            ReMIXers.</p>
            
          <p style="margin: 5px 0 15px 0;">Eclipse Di Luna is located across from Perimeter Mall, at:</p>

          @GetAfterPartyAddress()

          <p class="ui-li-count">6:00 - 8:00</p>
        </li>
      </ul>
    </div> 