    <div data-role="header" style="height: 125px;">
      <img src="/img/remix-south-logo.jpg" />
    </div>
    
    <div data-role="content">
      <ul data-role="listview">
        <li>
          <h4>Registration</h4>
          <p>Lobby?</p>

          <p class="ui-li-count">7:30 - 8:30</p>
        </li>

        <li>
          <h4>Keynote</h4>
          <p>Albert Shum</p>
          
          <p class="ui-li-count">8:30 - 9:30</p>
        </li>

        <li>
          <h4>Break</h4>
          <p>Coffee...  Must have coffee!</p>

          <p class="ui-li-count">9:30 - 9:45</p>
        </li>

        <li><a href="/SessionSlot/1">
          <h4>First Sessions</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">9:45 - 10:45</p>
        </a></li>

        <li>
          <h4>Break</h4>
          <p>Stretch the legs and get to that next session.</p>

          <p class="ui-li-count">10:45 - 11:00</p>
        </li>

        <li><a href="/SessionSlot/2">
          <h4>Second Sessions</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">11:00 - 12:00</p>
        </a></li>  
        
        <li>
          <h4>Lunch</h4>
          <p>Lunch info here...</p>

          <p class="ui-li-count">12:00 - 1:30</p>
        </li>  
        
        <li><a href="/SessionSlot/3">
          <h4>Third Sessions</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">1:30 - 2:30</p>
        </a></li>  
        
        <li>
          <h4>Break</h4>
          <p>Be sure to visit our sponsors and thank them for supporting reMIX South.</p>

          <p class="ui-li-count">2:30 - 2:45</p>
        </li>        
        
        <li><a href="/SessionSlot/4">
          <h4>Fouth Sessions</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">2:45 - 3:45</p>
        </a></li>   
        
        <li>
          <h4>Break</h4>
          <p>Don't forget to fill out your surveys.</p>

          <p class="ui-li-count">3:45 - 4:00</p>
        </li>                
        
        <li><a href="/SessionSlot/5">
          <h4>Fifth Sessions</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">4:00 - 5:00</p>
        </a></li>  
        
        <li>
          <h4>After Party?</h4>
          <p>That place...</p>
            
          <p class="ui-li-count">5:30 - ???</p>
        </li>        
      </ul>
    </div> 