    <div data-role="header">
      <h2>Atlanta Code Camp 2011</h2>
    </div>
    
    <div data-role="content">
      <ul data-role="listview">
        <li>
          <h4>Registration</h4>
          <p>Located in the student center lobby.</p>

          <p class="ui-li-count">8:00 - 12:00</p>
        </li>

        <li>
          <h4>Keynote Presentation</h4>
          <p>Don't miss our guest speaker.</p>
          
          <p class="ui-li-count">8:30 - 9:10</p>
        </li>

        <li>
          <h4>Break</h4>
          <p>Coffee...  Must have coffee!</p>

          <p class="ui-li-count">9:10 - 9:30</p>
        </li>

        <li><a href="/SessionSlot/1">
          <h4>Session #1</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">9:30 - 10:40</p>
        </a></li>

        <li>
          <h4>Break</h4>
          <p>Stretch the legs and get to that next session.</p>

          <p class="ui-li-count">10:40 - 10:50</p>
        </li>

        <li><a href="/SessionSlot/2">
          <h4>Session #2</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">10:50 - 12:00</p>
        </a></li>  
        
        <li>
          <h4>Lunch</h4>
          <p>Get your free lunch in building J.</p>

          <p class="ui-li-count">12:00 - 1:10</p>
        </li>  
        
        <li><a href="/SessionSlot/3">
          <h4>Session #3</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">1:10 - 2:20</p>
        </a></li>  
        
        <li>
          <h4>Break</h4>
          <p>Be sure to visit our sponsors and thank them for supporting ACC2011.</p>

          <p class="ui-li-count">2:20 - 2:30</p>
        </li>        
        
        <li><a href="/SessionSlot/4">
          <h4>Session #4</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">2:30 - 3:40</p>
        </a></li>   
        
        <li>
          <h4>Break</h4>
          <p>Don't forget to fill out your surveys.</p>

          <p class="ui-li-count">3:40 - 3:50</p>
        </li>                
        
        <li><a href="/SessionSlot/5">
          <h4>Session #5</h4>
          <p>Tap for session list...</p>

          <p class="ui-li-count">3:50 - 5:00</p>
        </a></li>  
        
        <li>
          <h4>Break</h4>
          <p>Head back to building A for a chance at free prizes.</p>

          <p class="ui-li-count">5:00 - 5:30</p>
        </li>        
        
        <li>
          <h4>Closing</h4>
          <p>Submit your surveys for a chance to win fabulous prizes.</p>

          <p class="ui-li-count">5:30</p>
        </li>
        
        <li>
          <h4>After Party</h4>
          <p>Dave &amp; Busters</p>
            
          <p><a href="http://maps.google.com/maps?q=2215+D%26B+Drive++Marietta,+GA+30067&hl=en&ll=33.921426,-84.490013&spn=0.056764,0.077162&z=14">2215 D&amp;B Drive<br />
            Marietta, GA 30067</a></p>

          <p class="ui-li-count">6:30 - 8:30</p>
        </li>        
      </ul>
    </div> 