@{
  Page.Title = "Lunch Info";
}

@helper GetMallAddress() {
  if (Request.UserAgent.Contains("IEMobile")) {
    <p>246 Perimeter Center Parkway NE<br />Atlanta, Ga 30346</p>
  } else { 
  <p><a href="http://maps.google.com/maps?q=4400+Ashford+Dunwoody+Road&ll=33.923242,-84.342513&spn=0.014618,0.01929&gl=us&t=h&z=16" rel="external">246 Perimeter Center Parkway NE<br />Atlanta, Ga 30346</a></p>
  }
}

    <div data-role="header">
      <h1>Where to eat</h1>
    </div>
    
    <div data-role="content">
      <ul data-role="listview">
				<li data-theme="e">
					<h4>Eating at the venue</h4>
				</li>
				<li>
					<h4>The Marriott Lunch Buffet</h4>
					
					<p>If you’d like to stay close by, choose the Marriott Perimeter Center’s lunch buffet. The cost is approximately $12.</p>
				</li>
				
				<li data-theme="e">
					<h4>Right around the corner</h4>
				</li>
				
				<li>
					<h4>Perimeter Mall</h4>
					
					<p style="margin-bottom: 15px;">If the Marriott lunch buffet doesn't appeal to you, Perimeter Mall offers several alternatives
						less than a half mile away from ReMIX. The mall is located at:</p>
						
					@GetMallAddress()
				</li>
				
				<li data-theme="e">
					<h4>Just a little farther</h4>
				</li>
			</ul>
    </div>    