@{
  Page.Title = "Lunch Info";
}

@helper GetMallAddress() {
  if (Request.UserAgent.Contains("IEMobile")) {
    <p>246 Perimeter Center Parkway NE<br />Atlanta, Ga 30346</p>
  } else { 
  <p><a href="http://maps.google.com/maps?q=4400+Ashford+Dunwoody+Road&ll=33.923242,-84.342513&spn=0.014618,0.01929&gl=us&t=h&z=16" rel="external">246 Perimeter Center Parkway NE<br />Atlanta, Ga 30346</a></p>
  }
}

    <div data-role="header">
      <h1>Where to eat</h1>
    </div>
    
    <div data-role="content">
      <ul data-role="listview">
				<li data-theme="e">
					<h4>Eating at the venue</h4>
				</li>
				<li>
					<h4>The Marriott Lunch Buffet</h4>
					
					<p>If you’d like to stay close by, choose the Marriott’s lunch buffet. The cost is approximately $12.</p>
				</li>
				
				<li data-theme="e">
					<h4>Right around the corner</h4>
				</li>
				
				<li>
					<h4>Perimeter Mall</h4> 
					
					<p>If the Marriott lunch buffet doesn't appeal to you, Perimeter Mall offers several alternatives
						less than a half mile away from ReMIX. Restaurants at the mall include:</p>

          <li><a href="http://www.google.com/m/place?q=goldfish&channel=iss&hl=en&v=0.8.2.6553&latlng=33924035,-84339530,1529296648316921617&cid=1529296648316921617&ei=Eog8TvCkLeeksQe3q5axAQ&ved=0CBQQnQIwAA" target="_blank">Goldfish</a></li>
          <li><a href="http://www.google.com/m/place?near=33.924035,-84.339530&source=mpp&q=Restaurants&channel=iss&hl=en&latlng=33922166,-84338813,10017792403485150804&cid=10017792403485150804&ei=qYg8TviWFdeL8wbK0O2kAQ&ved=0CCUQnQIwBA" target="_blank">Cheesecake Factory</a></li>
          <li><a href="http://www.google.com/m/place?near=33.924035,-84.339530&source=mpp&q=Restaurants&channel=iss&hl=en&latlng=33923981,-84341719,7586532472725926005&cid=7586532472725926005&ei=qYg8TviWFdeL8wbK0O2kAQ&ved=0CCAQnQIwAw" target="_blank">Maggiano's Little Italy</a></li>
          <li><a href="http://www.google.com/m/place?near=33.924035,-84.339530&source=mpp&q=Restaurants&channel=iss&hl=en&latlng=33926320,-84339901,10490196902892190602&cid=10490196902892190602&ei=qYg8TviWFdeL8wbK0O2kAQ&ved=0CBYQnQIwAQ" target="_blank">Seasons 52</a></li>
          <li><a href="http://www.google.com/m/place?near=33.924035,-84.339530&source=mpp&q=Restaurants&channel=iss&hl=en&latlng=33926542,-84340528,4975335241347034865&cid=4975335241347034865&ei=qYg8TviWFdeL8wbK0O2kAQ&ved=0CBsQnQIwAg" target="_blank">Wildfire</a></li>
          <li><a href="http://www.perimetermall.com/directory/restaurants-eateries" target="_blank">The Perimeter Mall Food Court</a></li>
         
         <li>  
          <p style="margin: 5px 0 15px 0;">The mall is located at:</p>
						
					@GetMallAddress()
				</li>
				
				<li data-theme="e">
					<h4>Just a little farther</h4>
				</li>

        <li>
          <p style="margin-top: 5px;">Drive just a few blocks more in any direction and you will find an array of options far too expansive to 
            list here. Below are just a few of the many options:</p>
        </li>

        <li><a href="http://www.google.com/m/place?hl=en&near=33.924035,-84.339530&source=mpp&q=j+alexanders&channel=iss&latlng=33932028,-84337006,7469491739755080482&cid=7469491739755080482&ei=O4o8TpieHeLCsgfQx_Z3&ved=0CBAQnQIwAA" target="_blank">J. Alexander's</a></li>
        <li><a href="http://www.google.com/m/place?source=mpp&near=33.924035,-84.339530&q=Restaurants&channel=iss&hl=en&latlng=33929125,-84345239,14360194181180914705&cid=14360194181180914705&ei=5Yk8TuCyOMWTswe_2rh3&ved=0CDkQnQIwCTge" target="_blank">Taco Mac</a></li>
        <li><a href="http://www.google.com/m/place?hl=en&near=33.924035,-84.339530&source=mpp&q=carrabba's&channel=iss&latlng=33929483,-84345207,6359151311704790005&cid=6359151311704790005&ei=jIo8TrDAD6PzsQe9v7h3&ved=0CBAQnQIwAA" target="_blank">Carrabba's Italian Grill</a></li>
        <li><a href="http://www.google.com/m/place?near=33.924035,-84.339530&source=mpp&q=Restaurants&channel=iss&hl=en&latlng=33932741,-84339423,16280545247135752002&cid=16280545247135752002&ei=wYk8TsCCFILm8AaIq7t6&ved=0CDgQnQIwCTgU" target="_blank">P.F. Chang's Bistro</a></li>
        <li><a href="http://www.google.com/m/place?source=mpp&near=33.924035,-84.339530&q=Restaurants&channel=iss&hl=en&latlng=33929487,-84344229,18142578471732999357&cid=18142578471732999357&ei=5Yk8TuCyOMWTswe_2rh3&ved=0CDQQnQIwCDge" target="_blank">Cheeseburger in Paradise</a></li>
			</ul>
    </div>    