@{
    Page.Title = "Lunch Info";
}

    <div data-role="header">
      <h1>Where to eat</h1>
    </div>
    
    <div data-role="content">
      <ul data-role="listview">
				<li data-role="listview-divider">
					<h4>Eating at the venue</h4>
				</li>
				<li>
					<h4>The Marriott Lunch Buffet</h4>
					
					<p>If you’d like to stay close by the conference, choose the Marriott Perimeter Center’s lunch buffet. The cost is approximately $12.</p>
				</li>
				
				<li data-role="listview-divider">
					<h4>Right around the corner</h4>
				</li>
				
				<li>
					<h4>Perimeter Mall</h4>
					
					<p>If the Marriott lunch buffet doesn't appeal to you, Perimeter Mall offers several alternatives
						less than a half mile away from ReMIX. The mall is located at:</p>
						
					<p>4400 Ashford Dunwoody Road<br />Atlanta, Ga 30346</p>
				</li>
				
				<li data-role="listview-divider">
					<h4>Just a little farther</h4>
				</li>
			</ul>
    </div>    